{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rubros list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Rubnombre</th>
            <th>Rubfoto</th>
            <th>Rubdireccion</th>
            <th>Rubslug</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rubro in rubros %}
            <tr>
                <td>{{ rubro.rubNombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('prueba_rubronego', { 'rubroid': rubro.id }) }}">Elegir</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}